body {
  background-color: rgb(24, 24, 24);
  height: 100%;
  overflow: scroll;
}

.navlink-style {
  text-decoration: none;
}

.navbar-style {
  background-color: black;
  color: white;
}

.logout {
  display: none;
  position: absolute;
  bottom: -12px;
  width: 100%;
}

.namecard:hover .logout {
  display: block;
}
