@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */

.accordion__section {
    display: flex;
    flex-direction: column;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: black;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 100ms;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.accordion:hover,
.active {
    background-color: rgb(26, 22, 22);
}


/* Style the accordion content title */

.accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}


/* Style the accordion chevron icon */

.accordion__icon {
    margin-left: auto;
    transition: transform 100ms;
}


/* Style to rotate icon when state is active */

.rotate {
    transform: rotate(90deg);
}


/* Style the accordion content panel. Note: hidden by default */

.accordion__content {
    background-color: rgb(26, 22, 22);
    overflow: auto;
    transition: max-height 100ms;
}


/* Style the accordion content text */

.accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}