.trackTitle {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
    text-align: left;
}

.trackArtist {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    font-style: italic;
    padding-top: 0px;
}

.subcontentText {
    color: white
}

.trackImage {
    width: 50px
}

.songInfo {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    width: 80%;
}

::-webkit-scrollbar {
    display: none;
}