.trackTitle {
    color: white;
}

.trackImage {
    width: 50px
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

::-webkit-scrollbar {
    display: none;
}