.App {
  text-align: center;
  background: linear-gradient(to left, rgb(182, 0, 0), rgb(15, 15, 15) 50%, rgb(2, 2, 2) 100%);
  color: white;

} 

.Button {
  background-color: #1db954;
  border-radius: 10px;
}
